mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		.container
			+e.wrapper
				+img('img/sProductCard-logo-1.png')
				+e.row.row
					.col-lg-6
						+e.slider-wrap
							+e.slider--js.swiper
								.swiper-wrapper
									mixin slide()
										+e.slide.swiper-slide
											+e.A.img-wrap(data-fancybox="sProductCard" data-src="img/sProductCard-1.jpg")
												.img-wrap-center
													+img('img/sProductCard-1.jpg')
									- for (var x = 0; x < 6; x++)
										+slide()
							+e.thumb-slider--js.swiper
								.swiper-wrapper
									mixin thumb-slide()
										+e.slide.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img('img/sProductCard-sm-1.jpg')
									- for (var x = 0; x < 6; x++)
										+thumb-slide()
					.col-lg-6
						+e.caption
							h1 Краска Farbitex Для садовых деревьев
							+e.info.text-success В&nbsp;наличии
							p Быстросохнущая, высокоукрывистая, защита от&nbsp;водорослей, мха, лишайника, защита от&nbsp;грибка, светостойкая, термостойкая, защита от&nbsp;вредителей
						+e.price-wrap
							span 500&nbsp;₽
							small 720&nbsp;₽
						+e.btn-wrap
							+e.btn-addCart.btn.btn-primary(href="#") В&nbsp;корзину
							+e.btn(href="#")
								+icon('compare')
							+e.btn(href="#")
								+icon('favorites')
			+e.details-wrap
				.tabs
					.swiper.tabs-swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.active.swiper-slide Описание
							.tabs__btn.swiper-slide Характеристики
							.tabs__btn.swiper-slide Доставка
							.tabs__btn.swiper-slide Отзывы
					.tabs__content.active
						+e.description
							p Farbitex Для садовых деревьев&nbsp;&mdash; высококачественная водно-дисперсионнная краска. Изготовлена на&nbsp;оборудовании &laquo;NETZSCH&raquo; по&nbsp;специальным рецептурам, разработанным компанией &laquo;ABC FARBEN&raquo;. Предназначена для защиты коры деревьев и&nbsp;кустарников от&nbsp;резких перепадов температур, грибка и&nbsp;плесени, вредителей, придаёт декоративный вид.
							h6 Подзаголовок:
							p &mdash;&nbsp;Заполненное и&nbsp;подписанное заявление о&nbsp;государственной регистрации прекращения деятельности физических лиц в&nbsp;качестве ИП&nbsp;&mdash; форма &#8470;&nbsp;R26001.;
							p &mdash;&nbsp;Документ об&nbsp;уплате госпошлины в&nbsp;размере 160&nbsp;₽;
							p &mdash;&nbsp;Документ, подтверждающий предоставление информации в&nbsp;территориальный орган ПФР.;
					.tabs__content
						+e.features
							.row
								mixin li(title, value)
									li
										span!= title
										small!= value
								- for (var x = 0; x < 3; x++)
									.col-md-6.col-lg-4
										ul
											+li(`Расход:`, `от&nbsp;0,15 до&nbsp;0,18&nbsp;кг/м2`)
											+li(`Назначение:`, `Для деревьев`)
											+li(`Тип работ:`, `Наружное`)
											+li(`Упаковка:`, `Ведро`)
											+li(`Время высыхания:`, `1ч`)
								

					.tabs__content
						+e.delivery
							+customSelect(`Москва`, `Москва`, `Санкт-Петербург`, `Мурманск`, `Владивосток`, `Иркутск`, `Тверь`, `Ростов на Дону`, `Калининград`, `Мурманск`, `Владивосток`, `Иркутск`, `Тверь`)
					.tabs__content
						+e.reviews
							+e.reviews-row.row
								- for (var x = 0; x < 22; x++)
									+e.review-col.col-lg-6
										+b.reviews-item
											+e.name Анна Фёдорова
											small 08.11.2022
											p Неделю назад покрасила деревья. Температура была околонулевая, краскопультом не&nbsp;получилось, только кистью. Прилагаю фото после первого дождя. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus commodi corrupti velit ad nostrum, aut ratione quod minus dignissimos voluptate ab dolore, amet vero id, beatae quidem sunt in mollitia.
												a(href="#") Далее
								+e.col-more.col-12
									+btnMoreLg()
							+e.btnWrap
								+e.review-btn.btn.btn-primary(href="#" data-src="#modal-review" data-fancybox="modal") ОСТАВИТЬ ОТЗЫВ


	// end sProductCard