
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Заказать звонок

				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
				+input('', 'textarea', 'Комментарий')
				+e.BUTTON.btn.btn.btn-dark(type="submit") Отправить
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-call

	div(id="modal-registry" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Заказать звонок

				+input('', 'text', 'Фамилия')(required)
				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
				+input('', 'email', 'Электронная почта')(required)
					.invalid-feedback Пользователь с&nbsp;таким email уже существует
				+input('', 'password', 'Пароль')(required)
					.invalid-feedback Пароль не&nbsp;менее 6&nbsp;символов, <br> содержит заглавные буквы (A-Z)
				+input('', 'password', 'Подтвердите пароль')(required)
					.invalid-feedback Пароли не&nbsp;совпадают
				+e.BUTTON.btn.btn.btn-dark(type="submit") Регистрация
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-registry

	div(id="modal-registry-invalid" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Заказать звонок

				+input('', 'text', 'Фамилия')(required)
				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
				+input('', 'email', 'Электронная почта')(required).is-invalid
					.invalid-feedback Пользователь с&nbsp;таким email уже существует
				+input('', 'password', 'Пароль')(required).is-invalid
					.invalid-feedback Пароль не&nbsp;менее 6&nbsp;символов, <br> содержит заглавные буквы (A-Z)
				+input('', 'password', 'Подтвердите пароль')(required).is-invalid
					.invalid-feedback Пароли не&nbsp;совпадают
				+e.BUTTON.btn.btn.btn-dark(type="submit") Регистрация
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-registry-invalid


	div(id="modal-enter" style="display: none" )
		+b.modal-win--enter.--sm
			+form-wrap
				.text-center
					+e.title.form-data.h4 Вход

				+input('', 'tel', 'Телефон')(required)
				+e.BUTTON.btn.btn.btn-dark(type="submit") Регистрация
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-enter


	div(id="modal-code" style="display: none" )
		+b.modal-win--code.--sm
			+form-wrap
				.text-center
					+e.title.form-data.h4 Введите код из&nbsp;СМС
				+input('', 'password', '4 цифры')(required)
				+e.row.row
					.col
						p Код отправлен на номер:
					.col-auto
						+e.code-tel *********5612
					.col-12.text-end
						a(href='#') Изменить
				+e.timer Отправить код ещё раз можно через #[span 00:59]
				
	// #modal-code

	div(id="modal-review" style="display: none" )
		+b.modal-win--review.--sm
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					//- p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут


				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit"  )  
				//- +policy()
				// #modal-review

				// end modals