
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Заказать звонок

				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
					span.region +7
				+input('', 'textarea', 'Комментарий')
				+e.BUTTON.btn.btn.btn-dark(type="submit") Отправить
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-call

	div(id="modal-registry" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Регистрация

				+input('', 'text', 'Фамилия')(required)
				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
					span.region +7
				+input('', 'email', 'Электронная почта')(required)
					span.invalid-feedback Пользователь с&nbsp;таким email уже существует
				+input('', 'password', 'Пароль')(required)
					span.invalid-feedback Пароль не&nbsp;менее 6&nbsp;символов, <br> содержит заглавные буквы (A-Z)
				+input('', 'password', 'Подтвердите пароль')(required)
					span.invalid-feedback Пароли не&nbsp;совпадают
				+e.BUTTON.btn.btn.btn-dark(type="submit") Регистрация
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-registry

	div(id="modal-registry-invalid" style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h4 Регистрация

				+input('', 'text', 'Фамилия')(required).is-valid
				+input('', 'text', 'Имя')(required)
				+input('', 'tel', 'Телефон')(required)
					span.region +7
				+input('', 'email', 'Электронная почта')(required).is-invalid
					span.invalid-feedback Пользователь с&nbsp;таким email уже существует
				+input('', 'password', 'Пароль')(required).is-invalid
					span.invalid-feedback Пароль не&nbsp;менее 6&nbsp;символов, <br> содержит заглавные буквы (A-Z)
				+input('', 'password', 'Подтвердите пароль')(required).is-invalid
					span.invalid-feedback Пароли не&nbsp;совпадают
				+e.BUTTON.btn.btn.btn-dark(type="submit") Регистрация
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-registry-invalid


	div(id="modal-enter" style="display: none" )
		+b.modal-win--enter.--sm
			+form-wrap
				.text-center
					+e.title.form-data.h4 Вход

				+input('', 'tel', 'Телефон')(required)
					span.region +7
				+e.BUTTON.btn.btn.btn-dark(type="submit") Получить код
				+e.agreement Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь 
					a(href="#") на&nbsp;обработку ваших персональных данных
	// #modal-enter


	div(id="modal-thanx" style="display: none" )
		+b.modal-win--thanx.--sm
			+b.form-wrap
				.text-center
					+e.title.h4 Ваша заявка принята
					p Спасибо за&nbsp;заявку! Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайщее время
				+e.btn.btn.btn-primary(href="/") На главную
	// #modal-enter

	


	div(id="modal-code" style="display: none" )
		+b.modal-win--code.--sm
			+form-wrap
				.text-center
					+e.title.form-data.h4 Введите код из&nbsp;СМС
				+input('', 'password', '4 цифры')(required)
				+e.row.row
					.col
						p Код отправлен на номер:
					.col-auto
						+e.code-tel *********5612
					.col-12.text-end
						a(href='#') Изменить
				+e.timer Отправить код ещё раз можно через #[span 00:59]
				
	// #modal-code

	div(id="modal-review" style="display: none" )
		+b.modal-win--review
			+form-wrap
				.text-center
					+e.title.form-data.h4 Оставить отзыв
				+e.row.row
					.col-sm-4
						+e.input-title Ваше имя
					.col-sm-8
						+input('Ваше имя', 'text')(required)
				+e.row.row
					.col-sm-4
						+e.input-title Оставьте свой комментарий
					.col-sm-8
						+input('Ваш комментарий', 'textarea')
				+e.row--footer.row
					.col
						+e.agreement Перед отправкой отзыва, пожалуйста, <br>
							a(href="#") ознакомьтесь с&nbsp;правилами публикации.
					.col-sm-auto
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
	// #modal-review

	// end modals