mixin sSliders(data)
	// start sSliders
	+b.SECTION.sSliders.section#sSliders&attributes(attributes)
		.container
			+e.row.row
					mixin slider(title, customClass='col-lg-6')
						div(class=customClass)
							.controls-wrap-js
								+b.section-title
									.row
										.col-auto
											h2!= title
										.col-auto
											+e.arrow-wrap
												+arrow
								+e.slider.swiper.default-slider-js
									.swiper-wrapper
										block
					+slider('Малярные товары')
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-1.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-2.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-1.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-2.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
					+slider('Электрооборудование')
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-3.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'под заказ',

								
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-4.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-3.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

								
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-4.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

							})
					+slider('Спецодежда')
						+e.slide.swiper-slide
							+card({
								label: 'Акция',
								img: 'product-img-5.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								addToCartBtnClass: 'active',
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-6.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Акция',
								img: 'product-img-5.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								addToCartBtnClass: 'active',
								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-6.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',

							})
					+slider('Для дома и дачи')
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-7.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-8.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-7.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-8.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
					+slider('Сезонное')
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-9.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-10.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-9.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-10.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
					+slider('Инструмент')
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-11.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-12.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								label: 'Новинка',
								img: 'product-img-11.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
						+e.slide.swiper-slide
							+card({
								img: 'product-img-12.png',
								title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

								price: '500 ₽',
								oldPrice: '720 ₽',

								inStock: 'в наличии',
							})
	// end sSliders