mixin sCabinet(data)
	// start sCabinet
	+b.SECTION.sCabinet.section#sCabinet&attributes(attributes)
		+e.container.container
			+e.row.row
				.col-lg-4.col-xl-3
					+filter
						+e.wrap
							+e.link.active(href='#') История заказов
							+e.link(href='#') Личная информация
					+news-item()
				.col-lg-8.col-xl-9
					block
	// end sCabinet