extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= '' 
	- let  bg= ''

block title
	- let  title = 'Cпрос на инструменты для домохозяйств вырос на 38% за год'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+topLine
		+top-nav()
	main
		+page-head('Cпрос на инструменты для домохозяйств<br>вырос на 38% за год', 'Спрос на инструменты для домохозяйства вырос на 38% за год')
		+sContent
			img(src='img/sContent-bg-1.jpg' alt='', class='sContent__bg')
			+e.text-block
				p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021 и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
				p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
			.row.g-3
				.col-lg-6
					+e.content-block
						p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. 
						p В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
					p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021 и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
				.col-lg-6
					+e.side-content 
						p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021 и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
						p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
					img(src="img/sContent-bg-2.jpg", alt="")
			+e.list-wrap
				h4 Онлайн&nbsp;&mdash; гипермаркет проанализировал спрос:
				ul
					li Заполненное и&nbsp;подписанное заявление о&nbsp;государственной регистрации прекращения деятельности физических лиц в&nbsp;качестве ИП&nbsp;&mdash; форма &#8470; R26001.;
					li Документ об&nbsp;уплате госпошлины в&nbsp;размере 160&nbsp;₽;
					li Заполненное и&nbsp;подписанное заявление о&nbsp;государственной регистрации прекращения деятельности физических лиц в&nbsp;качестве ИП&nbsp;&mdash; форма &#8470; R26001.;
					li Документ об&nbsp;уплате госпошлины в&nbsp;размере 160&nbsp;₽;
					li Документ, подтверждающий предоставление информации в&nbsp;территориальный орган ПФР.;
			.row
				.col-lg-8
					h4 Аналогичный взрывной рост показали материалы для соответстующих инструментов. Компания активно расширяет своё присутствие в&nbsp;регионах Сибири
					p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта &laquo;Инструменты&raquo; проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021 и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
					p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
			+e.table-wrap
				table
					tr
						th Название
						th 1 колонка
						th 2 колонка
						th 3 колонка
						th 4 колонка
					tr
						td Назначение
						td для фасадов, для стен, для потолков, для кухонных/ванных комнат, для детских комнат
						td для окон и дверей, для металлических изделий, для деревянных изделий, для цоколей, для лоджий, для ограждений
						td для металлических изделий, для деревянных изделий, для цоколей, для лоджий, для ограждений
						td для фасадов, для стен
					tr
						td Тип работ
						td внутренние, наружные
						td внутренние, наружные
						td внутренние
						td наружные
					tr
						td Основа
						td акриловая
						td акриловая
						td акриловая
						td —
					tr
						td Разбавитель
						td вода
						td вода
						td вода
						td вода
					tr
						td Цвет
						td Красный
						td Красный
						td Красный
						td Красный
			.row.align-items-end.g-0 
				.col-lg-5.order-lg-2
					+e.footer-wrap
						p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. 
						p В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
				.col-lg-7.order-lg-1
					+e.img-wrap
						img(src='img/sContent-bg-3.jpg', alt='')
	+footer()
      



