extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'content-page' 
	- let  bg= '09-content.jpg'

block title
	- let  title = 'Текстовая страница'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+topLine
		+top-nav()
	main
		+page-head('Текстовая страница', 'Текстовая')
		+sContent
			p Настоящий документ &laquo;Политика конфиденциальности&raquo; (далее по&nbsp;тексту&nbsp;&mdash; &laquo;Политика&raquo;) представляет собой правила использования /указать владельца сайта/ (далее&nbsp;&mdash; &laquo;мы&raquo; и/или &laquo;Администрация&raquo;) данных интернет-пользователей (далее &laquo;вы&raquo; и/или &laquo;Пользователь&raquo;), собираемых с&nbsp;использованием сайта&nbsp;/ указать URL сайта/ (далее&nbsp;&mdash; &laquo;сайт&raquo;).
			ol
				li Обрабатываемые данные
					ol
						li Мы&nbsp;не&nbsp;осуществляем сбор ваших персональных данных с&nbsp;использованием Сайта.
						li Все данные, собираемые на&nbsp;сайте, предоставляются и&nbsp;принимаются в&nbsp;обезличенной форме (далее&nbsp;&mdash; &laquo;Обезличенные данные&raquo;).
						li Обезличенные данные включают следующие сведения, которые не&nbsp;позволяют вас идентифицировать:
							ol
								li Информацию, которую вы&nbsp;предоставляете о&nbsp;себе самостоятельно с&nbsp;использованием онлайн-форм и&nbsp;программных модулей сайта, включая имя и&nbsp;номер телефона и/или адрес электронной почты.1.3.2. Данные, которые передаются в&nbsp;обезличенном виде в&nbsp;автоматическом режиме в&nbsp;зависимости от&nbsp;настроек используемого вами программного обеспечения.
						li Администрация вправе устанавливать требования к&nbsp;составу Обезличенных данных Пользователя, которые собираются использованием Сайта.
						li Если определённая информация не&nbsp;помечена как обязательная, её&nbsp;предоставление или раскрытие осуществляется Пользователем на&nbsp;своё усмотрение. Одновременно вы&nbsp;даёте информированное согласие на&nbsp;доступ неограниченного круга лиц к&nbsp;таким данным. Указанные данные становится общедоступными с&nbsp;момента предоставления и/или раскрытия в&nbsp;иной форме.
						li Администрация не&nbsp;осуществляет проверку достоверности предоставляемых данных и&nbsp;наличия у&nbsp;Пользователя необходимого согласия на&nbsp;их&nbsp;обработку в&nbsp;соответствии с&nbsp;настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и&nbsp;прилагает все необходимые усилия к&nbsp;поддержанию такой информации в&nbsp;актуальном состоянии и&nbsp;получению всех необходимых согласий на&nbsp;её&nbsp;использование.
						li Вы&nbsp;осознаете и&nbsp;принимаете возможность использования на&nbsp;сайте программного обеспечения третьих лиц, в&nbsp;результате чего такие лица могут получать и&nbsp;передавать указанные в&nbsp;п.1.3 данные в&nbsp;обезличенном виде.Пример! К&nbsp;указанному программному обеспечению третьих лиц относятся системы сбора статистики посещений Google Analytics и&nbsp;Яндекс.Метрика.
			h4 Онлайн — гипермаркет проанализировал спрос:
			ul
				li Заполненное и&nbsp;подписанное заявление о&nbsp;государственной регистрации прекращения деятельности физических лиц в&nbsp;качестве ИП&nbsp;&mdash; форма &#8470; R26001.;
				li Документ об&nbsp;уплате госпошлины в&nbsp;размере 160&nbsp;₽;
				li Документ, подтверждающий предоставление информации в&nbsp;территориальный орган ПФР.;
				li Заполненное и&nbsp;подписанное заявление о&nbsp;государственной регистрации прекращения деятельности физических лиц в&nbsp;качестве ИП&nbsp;&mdash; форма &#8470; R26001.;
				li Документ об&nbsp;уплате госпошлины в&nbsp;размере 160&nbsp;₽;
				li Документ, подтверждающий предоставление информации в&nbsp;территориальный орган ПФР.;
			img(src='img/sContent-bg-1.jpg' alt='', class='sContent__bg')
			+e.text-block
				p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021&nbsp;и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
				p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его&nbsp;самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
			+e.inner-row.row
				.col-lg-6
					p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021 и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
					p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
				.col-lg-6
					img(src="img/sContent-bg-2.jpg", alt="")
			+e.text-block
				p Онлайн&nbsp;&mdash; гипермаркет товаров для дома, дачи, строительства и&nbsp;ремонта проанализировал спрос на&nbsp;аккумуляторные, ручные и&nbsp;электроинструменты в&nbsp;октябре 2021&nbsp;и&nbsp;сравнил эти цифры с&nbsp;аналогичным периодом 2020&nbsp;года. Этой осенью товары данной категории россияне покупали чаще на&nbsp;38%.
				p &laquo;На&nbsp;рост спроса в&nbsp;категории инструментов могли повлиять несколько факторов. В&nbsp;2021 году в&nbsp;России выросли объёмы ввода жилья почти на&nbsp;30%, что привело к&nbsp;увеличению количества ремонтов в&nbsp;новых квартирах. Также в&nbsp;этом году россияне признались, что стали экономить на&nbsp;ремонте и&nbsp;по&nbsp;возможности проводить его&nbsp;самостоятельно. В&nbsp;связи с&nbsp;этим многим из&nbsp;них потребовался свой инструмент&raquo;,&nbsp;&mdash; комментирует руководитель пресс-службы &laquo;Инструменты.ру&raquo; Сергей Денисенко
	+footer()
      



