extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/s404/_s404.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'cart-page' 
	- let  bg= '12-cart.jpg'

block title
	- let  title = 'Корзина'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+s404



