mixin sAboutUs(data)
	// start sAboutUs
	+b.SECTION.sAboutUs.section#sAboutUs&attributes(attributes)
		.container
			+e.row.row
				.col-md-6.col-lg-5.order-md-2.ms-md-auto
					h2 О нас
					p Торговое или промышленное предприятие, торгово-промышленное объединение предпринимателей, форма организации предприятия, при которой его правосубъектность отличается от&nbsp;правосубъектности лиц, в&nbsp;нем участвующих. 
					p Торговое или промышленное предприятие, торгово-промышленное объединение предпринимателей, форма организации предприятия
					+e.btn.btn.btn-dark(href='#') ПЕРЕЙТИ В КАТАЛОГ
				.col-md-6.order-md-1
					+e.img-wrap
						.img-wrap-center
							+img('img/sAboutUs-img-1.jpg')
	// end sAboutUs