//- mixin product-item(i, t, p ,pr)
//- 	+b.ARTICLE.product-item
//- 		+e.img-wrap(href="#")
//- 			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
//- 			.img-wrap-center 
//- 				+img(`img/prod-${i}.jpg`)
//- 		+e.caption
//- 			+e.title!= t
//- 			+e.text!= p
//- 			+e.price!= pr
//- 			+e.btn(href='#')
//- 	// /.product-item

mixin sCatalog(title, isCatalog=true)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+e.container.container
			if title
				+e.title.h2!= title
			.row
				.col-lg-4.col-xl-3
					+filter()
						+catalogDropdown()
						+ddGroup()
							+ddGroupItem('Цена, ₽')
								.range-slider
									input.js-range-slider(type='text' value='')
								.extra-controls
									label
										input.js-input-from(type='text' value='0')
									| -
									label
										input.js-input-to(type='text' value='0')
							+ddGroupItem('Бренд')
								+e.custom-inputs-wrap
									-for(let i = 0; i < 4; i++)
										+in-c('checkbox', '', 'brend')
											+e.text Asko
												span.num 15
										+in-c('checkbox', '', 'brend')
											+e.text Alpicool
												span.num 12
										+in-c('checkbox', '', 'brend')
											+e.text Bertazzoni
												span.num 8
										+in-c('checkbox', '', 'brend')
											+e.text Cold Vine
												span.num 42
										+in-c('checkbox', '', 'brend')
											+e.text Dunavox
												span.num 74
										+in-c('checkbox', '', 'brend')
											+e.text Neff
												span.num 2
										+in-c('checkbox', '', 'brend')
											+e.text Кнауф
												span.num 150
										+in-c('checkbox', '', 'brend')
											+e.text Новолукомль
												span.num 14
							+ddGroupItem('Страна производитель')
								+e.custom-inputs-wrap
									-for(let i = 0; i < 4; i++)
										+in-c('checkbox', '', 'city')
											+e.text Англия
												span.num 15
										+in-c('checkbox', '', 'city')
											+e.text Болгария
												span.num 12
										+in-c('checkbox', '', 'city')
											+e.text Венесуэлла
												span.num 8
										+in-c('checkbox', '', 'city')
											+e.text Испания
												span.num 42
										+in-c('checkbox', '', 'city')
											+e.text Италия
												span.num 42
										+in-c('checkbox', '', 'city')
											+e.text Португалия
												span.num 42
										+in-c('checkbox', '', 'city')
											+e.text Россия
												span.num 74
										+in-c('checkbox', '', 'city')
											+e.text Словения
												span.num 2
							+ddGroupItem('Цвет')
								+e.custom-inputs-wrap
									-for(let i = 0; i < 4; i++)
										+in-c('checkbox', '', 'color')
											+e.text Цвет
												span.num 15
							+ddGroupItem('Способ доставки')
								+e.custom-inputs-wrap
									+in-c('radio', 'Самовывоз', 'type')
									+in-c('radio', 'Доставка курьером', 'type')
									+in-c('radio', 'Любой', 'type')
					+news-item()
				.col-lg-8.col-xl-9
					+e.head-row.row
						.col-sm
							+e.sort
								span Сортировать:
								+sortDropdown
								//- +b.sort-dropdown-wrap.sort-dropdown--js
								//- 	+e.sort-item Сначала новые
								//- 	+e.sort-dropdown
								//- 		ul
								//- 			li: a(href="#") По популярности
								//- 			li: a(href="#") По возрастанию цены
								//- 			li: a(href="#") По убыванию цены
								//- 			li: a(href="#") Сначала новые
								//- 			li: a(href="#") От А до Я
								//- 			li: a(href="#") От Я до А
						.col-sm-auto.d-none.d-md-block
							+e.view
								| Вид:
								+e.view-link.active(href='#'): +icon('grid')
								+e.view-link(href='#'): +icon('lines')
					block
					+pugin
	// end sCatalog