// start .sCatalog
.sCatalog {
	--sPT: #{rem(0)};
	--sPB: #{rem(40)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(80)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	&__inner-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};

		margin-bottom: rem(32);
	}
	.btn-more-lg {
		--bs-btn-border-color: transparent;
	}
	&__head-row {
		--bs-gutter-y: #{rem(8)};

		margin-bottom: rem(18);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
	&__sort {
		font-family: $font-family-monospace;
		color: #000;
	}
	&__sort-item {
		@include mt;
		display: inline-block;
		font-family: $font-family-sans-serif;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			color: $primary;
		}
	}
	&__view {
		font-family: $font-family-monospace;
		color: #000;
	}
	&__view-link {
		color: $gray-300;
		margin-left: rem(8);
		&.active, &:hover {
			color: $gray-900;
		}
		.icon {
			font-size: rem(22);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog



.product-item{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: #FFFFFF; 
	border: 1px solid #E2E2E2;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	&__img-wrap{
		@include block(298, 190);
	}
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: rem(20);
	}
}