mixin product-item(i, t, p ,pr)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			.row
				.col-lg-3
				.col-lg-9
					+e.inner-row.row
						-for(let i = 0; i < 21; i++)
							.col-sm-6.col-md-4
								+card({
									label: 'Новинка',
									img: 'product-img-1.png',
									title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

									price: '500 ₽',
									oldPrice: '720 ₽',

									inStock: 'в наличии',
								})
						.col-12
							+btnMoreLg()
					+pugin
	// end sCatalog