mixin product-item(i, t, p ,pr)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			.row
				.col-lg-3
					+catalogDropdown()
					//- +ddGroup()
					//- 	+ddGroupItem('Цена, ₽')
					//- 	+ddGroupItem('Бренд')
					//- 		+e.custom-inputs-wrap
					//- 			+in-c('checkbox', '')
					//- 				+e.name Asko
					//- 					span.num 15
				.col-lg-9
					+e.head-row.row
						.col-sm
							+e.sort
								span Сортировать:
								+e.sort-dropdown-wrap--js
									+e.sort-item Сначала новые
									+e.sort-dropdown
										ul
											li: a(href="#") По популярности
											li: a(href="#") По возрастанию цены
											li: a(href="#") По убыванию цены
											li: a(href="#") Сначала новые
											li: a(href="#") От А до Я
											li: a(href="#") От Я до А
						.col-sm-auto
							+e.view
								| Вид:
								+e.view-link.active(href='#'): +icon('grid')
								+e.view-link(href='#'): +icon('lines')
					+e.inner-row.row
						-for(let i = 0; i < 21; i++)
							.col-sm-6.col-md-4
								+card({
									label: 'Новинка',
									img: 'product-img-1.png',
									title: 'Эмаль Condor ПФ-115 жёлтая 1,8 кг',

									price: '500 ₽',
									oldPrice: '720 ₽',

									inStock: 'в наличии',
								})
						.col-12
							+btnMoreLg()
					+pugin
	// end sCatalog