mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				.col.col-sm-auto.col-lg-1.col-xxl-2.order-1
					+e.logo(href='/'): +img('img/svg/logo.svg')
				.col-auto.col-lg-2.col-xxl-3.d-none.d-md-block.order-2
					+e.work-time Время работы: 
						span 10:00–20:00
				.col-auto.col-md.ms-auto.ms-md-0.order-3
					+e.phone-link(href='tel:+74951203214') +7 495 120-32-14
					+e.phone-btn(href=`#` data-src="modal-call" data-fancybox="modal") Заказать звонок
				.col-12.col-lg-auto.order-5.order-lg-4
					+e.links
						mixin link(icon, count='0')
							+e.link(href='#')&attributes(attributes)
								+e.icon-wrap
									+icon(icon)
									if count
										span!=count
						+link('like')
						+link('chart')
						+link('person', '')
						+link('cart', '99')
						+link('search', '').--search-js.d-lg-none
						+menu-toggle()
				.col-auto.d-none.d-md-block.order-4.order-lg-5
					+e.price Товаров на сумму
						span 2 000 ₽
	// end topLine