mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto.col-xxl-2.d-none.d-lg-block
					+b.catalog-toggle--js
						+e.line-wrap
							span
						| Каталог товаров
				.col-auto.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.head-wrap.d-lg-none
								.row
									.col
										+b.catalog-toggle--js.d-lg-none
											+e.line-wrap
												span
											| Каталог товаров
									.col-auto
										+menu-toggle()
							+mnu()
							+b.topLine.d-lg-none
								+e.bottom-wrap
									.row
										.col
											+e.work-time Время работы: 
												span 10:00–20:00
										.col
											+e.price Товаров на сумму
												span 2 000 ₽
								+soc
				.col-lg-auto.col-xl-2.d-none.d-lg-block
					+soc()
				.col-lg-3
					+e.search-wrap--js
						+search
						+e.search-content
							mixin item()
								+e.search-item(href='#')
									.row
										.col-auto
											+e.search-img-wrap
												.img-wrap-center
													+img(`img/search-product-img.png`)
										.col
											p Эмаль Condor ПФ-115 жёлтая 1,8 кг
										.col-auto
											.h4 500 ₽
							+e.search-inner
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
								+item()
							+e.search-btn.btn.btn-dark(href='#') Показать все
							+e.nothing-found Нет результатов
		+catalogDropdown
			+b.catalog-toggle--js
				+e.line-wrap
					span
		//- +b.catalog-menu--js
		//- 	+b.catalog-toggle--js
		//- 		+e.line-wrap
		//- 			span
		//- 	+e.container.container-fluid.container-lg
		//- 		mixin item(title)
		//- 			+e.wrap
		//- 				+e.item
		//- 					!= title
		//- 					+icon('chevron-right')
		//- 				+e.content
		//- 					+e.back-btn: +icon('chevron-left')
		//- 					ul
		//- 						li: a(href="#") Садово огородный инвентарь
		//- 						li: a(href="#") Поливочный инвентарь
		//- 						li: a(href="#") Поликарбонат
		//- 						li: a(href="#") Грунт
		//- 						li: a(href="#") Насосы
		//- 						li: a(href="#") Сетка Рабица
		//- 						li: a(href="#") Летний душ, умывальники, рукомойники
		//- 						li: a(href="#") Побелка, краска садовая
		//- 						li: a(href="#") Садовый декор
		//- 						li: a(href="#") Товары для отдыха
		//- 						li: a(href="#") Печное литьё и аксессуары
		//- 						li: a(href="#") Садово огородный инвентарь
		//- 						li: a(href="#") Поливочный инвентарь
		//- 						li: a(href="#") Поликарбонат
		//- 						li: a(href="#") Грунт
		//- 						li: a(href="#") Насосы
		//- 						li: a(href="#") Сетка Рабица
		//- 						li: a(href="#") Летний душ, умывальники, рукомойники
		//- 						li: a(href="#") Побелка, краска садовая
		//- 						li: a(href="#") Садовый декор
		//- 						li: a(href="#") Товары для отдыха
		//- 						li: a(href="#") Печное литьё и аксессуары
		//- 		+item('Малярные товары')
		//- 		+item('Электроинструмент')
		//- 		+item('Спецодежда')
		//- 		+item('Сезонное')
		//- 		+item('Для дома и дачи')
		//- 		+item('Инструменты')
	// end top-nav

mixin catalogDropdown()
	+b.catalog-menu--js
		block
		+e.container.container-fluid.container-lg
			mixin item(title)
				+e.wrap
					+e.item
						!= title
						+icon('chevron-right')
					+e.content
						+e.back-btn: +icon('chevron-left')
						ul
							li: a(href="#") Садово огородный инвентарь
							li: a(href="#") Поливочный инвентарь
							li: a(href="#") Поликарбонат
							li: a(href="#") Грунт
							li: a(href="#") Насосы
							li: a(href="#") Сетка Рабица
							li: a(href="#") Летний душ, умывальники, рукомойники
							li: a(href="#") Побелка, краска садовая
							li: a(href="#") Садовый декор
							li: a(href="#") Товары для отдыха
							li: a(href="#") Печное литьё и аксессуары
							li: a(href="#") Садово огородный инвентарь
							li: a(href="#") Поливочный инвентарь
							li: a(href="#") Поликарбонат
							li: a(href="#") Грунт
							li: a(href="#") Насосы
							li: a(href="#") Сетка Рабица
							li: a(href="#") Летний душ, умывальники, рукомойники
							li: a(href="#") Побелка, краска садовая
							li: a(href="#") Садовый декор
							li: a(href="#") Товары для отдыха
							li: a(href="#") Печное литьё и аксессуары
			+item('Малярные товары')
			+item('Электроинструмент')
			+item('Спецодежда')
			+item('Сезонное')
			+item('Для дома и дачи')
			+item('Инструменты')