mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto.col-xxl-2
					+b.catalog-toggle--js
						+e.line-wrap
							span
						| Каталог товаров
				.col-auto.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
					
				.col-auto.d-lg-none
					+menu-toggle()
				.col-lg-auto.col-xl-2.d-none.d-lg-block
					+soc()
				.col-lg-3.d-none.d-lg-block
					+search
		+b.catalog-menu--js
			+e.container.container
				mixin item(title)
					+e.wrap
						+e.item
							!= title
							+icon('chevron-right')
						+e.content
							ul
								li 1
								li 2
								li 4
								li 3
								li 6
								li 5
								li 7
								li 8
								li 9
								li 0
				+item('Малярные товары')
				+item('Электроинструмент')
				+item('Спецодежда')
				+item('Сезонное')
				+item('Для дома и дачи')
				+item('Инструменты')
	// end top-nav