mixin sBrandDescription(data)
	// start sBrandDescription
	+b.sBrandDescription.section#sBrandDescription&attributes(attributes)
		.container
			+e.row.row
				.col-lg-3
					+e.img-wrap
						.img-wrap-center
							+img('img/sBrandDescription-img-1.png')
				.col
					p Представлен линейкой наиболее востребованных лакокрасочных материалов, выгодно отличающихся от&nbsp;аналогичных продуктов соотношением цена/качество. Грунтовки, шпатлёвки, акриловые краски, алкидные эмали, клей и&nbsp;олифа, растворители, защитно-красящий состав&nbsp;&mdash; все эти материалы экономичны и&nbsp;практичны.
	// end sBrandDescription