.soc {
	@include roww(12px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		width: rem(36);
		height: rem(36);
		color: #000;
		background-color: #fff;
		border-radius: 50%;
		flex: 0 0 auto;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			background-color: $primary;
		}
	}
	.icon {
		font-size: rem(24);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	color: $gray-500;
	input {
		font-size: rem(16);
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(57);
		padding-top: rem(14);
		padding-bottom: rem(14);
		padding-right: rem(15);
		font-weight: 500;
		border-radius: 5px;
	}
	.icon {
		color: $gray-500;
		font-size: rem(24);
		border: none !important;
		fill: none;
		stroke: currentColor;
		stroke-width: 2px;
	}
	button {
		position: absolute;
		left: rem(15);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}
.breadcrumb-slider {
	overflow: visible;
}
.breadcrumb {
	flex-wrap: nowrap;
	// overflow: visible;
	line-height: calc(16 / 14);
	a,
	span {
		display: inline-block;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);

	color: $gray-500;
	&::before {
		font-weight: 500;
	}

	a {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -10%;
			width: 100%;
			height: 120%;
		}
		&:not(:hover) {
			color: inherit;
		}
	}
	&.active {
		a {
			color: $breadcrumb-active-color;
			pointer-events: none;
		}
	}
}

.catalog-toggle {
	@include mt;
	border: 1px solid $primary;
	border-radius: 5px;
	padding: rem(13) rem(15);
	display: flex;
	align-items: center;
	color: $white;
	font-weight: 500;
	line-height: 1.25em;
	cursor: pointer;
	width: 100%;
	max-width: rem(210);
	@include media-breakpoint-up(lg) {
		max-width: none;
	}
	&__line-wrap {
		--h: #{rem(2)};
		--color: #{$white};
		--position: calc(var(--h) * 4);

		height: calc(var(--h) * 9);
		position: relative;
		font-size: rem(24);
		width: 1em;
		flex: 0 0 auto;
		margin-right: rem(15);
		span {
			@include a-cent(y);
			display: block;
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			width: 1em;
			height: var(--h);
			background-color: var(--color);
			transition: all 0.3s;
			backface-visibility: hidden;
			transform-origin: 50% 50%;
		}

		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
		}
		span:before {
			top: var(--position);
			transform: rotate3d(0, 0, 1, var(--rotate, 0));
			width: calc(100% - 8px);
		}

		span:after {
			bottom: var(--position);
			transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
		}
	}
	&.active,
	&:hover {
		background-color: $primary;

		span {
			&:before {
				width: 100%;
			}
		}
	}
	&.active {
		.catalog-toggle__line-wrap {
			--position: 0;
			--rotate: 45deg;
			span {
				background-color: transparent;
			}
		}
	}
}

.catalog-menu {
	@include mt;
	@include media-breakpoint-up(lg) {
		--itemWidth: #{rem(310)};
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		z-index: 2;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
	}
	@include media-breakpoint-down(lg) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		transform: translateX(-100%);
		padding-top: rem(44.4);
		padding-bottom: rem(30);
		z-index: 1000;
		&.active {
			transform: translateX(0);
		}
	}
	&__container {
		position: relative;
		@include media-breakpoint-down(lg) {
			padding: 0;
			height: calc(var(--vh) * 100);
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
	&__wrap {
		@include media-breakpoint-up(lg) {
			max-width: var(--itemWidth);
		}
		&:first-child {
			&:before {
				@include media-breakpoint-down(lg) {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		&:last-child {
			@include media-breakpoint-up(lg) {
				.catalog-menu__item {
					border-bottom: none;
				}
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				.catalog-menu__item {
					color: $white;
					background-color: $gray-900;
					&::before,
					&:after {
						display: block;
					}
				}
				.catalog-menu__content {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	&__item {
		@include mt;
		padding: rem(26) rem(50) rem(26) rem(24);
		position: relative;
		background-color: $white;
		font-family: $font-family-monospace;
		line-height: 1.25em;
		border-bottom: 1px solid $gray-100;
		cursor: pointer;
		@include media-breakpoint-up(lg) {
			max-width: var(--itemWidth);
			&::before,
			&:after {
				content: "";
				display: none;
				position: absolute;
				width: 50%;
				height: rem(20);
				right: 0;
				background-color: transparent;
				z-index: 2;
			}
			&::before {
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				top: rem(-18);
			}
			&::after {
				clip-path: polygon(100% 0, 0 0, 100% 100%);
				bottom: rem(-18);
			}
		}
		.icon {
			position: absolute;
			top: 50%;
			right: rem(24);
			transform: translateY(-50%);
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		&:hover {
			color: $white;
			background-color: $gray-900;
		}
	}
	&__content {
		@include mt;
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			left: calc(var(--itemWidth) + var(--bs-gutter-x) / 2);
			width: calc(100% - var(--itemWidth) - var(--bs-gutter-x));
			max-width: rem(900);
			background-color: $white;
			opacity: 0;
			pointer-events: none;
			padding: rem(32) rem(52);
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
			z-index: 1;
		}
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			transform: translateX(-100%);
			padding: rem(47) rem(15) rem(15) rem(15);
			height: calc(var(--vh) * 100);
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 100;
			&.active {
				transform: translateX(0);
			}
		}
		ul {
			--bs-gutter-y: #{rem(20)};

			list-style-type: none;
			columns: 2;
			margin-top: calc(var(--bs-gutter-y) * -1);
			margin-bottom: 0;
			li {
				display: inline-block;
				width: 100%;
				margin-top: var(--bs-gutter-y);
				a {
					font-weight: 500;
					@include media-breakpoint-down(lg) {
						font-size: rem(14);
					}
					&:not(:hover) {
						color: $black;
					}
				}
			}
		}
	}
	.catalog-toggle {
		width: auto;
		border: none;
		padding: 0;
		position: absolute;
		left: 15px;
		top: 14px;
		background-color: #fff;
		@include media-breakpoint-up(lg) {
			display: none;
		}
		&__line-wrap {
			--color: #{$gray-900};
			margin-right: 0;
		}
	}
	&__back-btn {
		position: absolute;
		top: 11px;
		left: 15px;
		cursor: pointer;
		.icon {
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}

.card {
	@include mt;
	background-color: #fff;
	border-radius: 5px;
	padding-top: rem(13);
	height: 100%;
	display: flex;
	flex-direction: column;
	&:hover {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
	&__label {
		position: absolute;
		top: rem(12);
		left: rem(12);
		background-image: linear-gradient(0deg, #180A3E, #180A3E);
		padding: rem(5) rem(6);
		color: #fff;
		font-size: rem(14);
		line-height: 1em;
		z-index: 3;
		&--sale {
			background-image: none;
			background-color: #FC573B;
			line-height: 1.2em;
		}
	}
	&__slider {
		width: 100%;
		margin-bottom: rem(2);
		.swiper-pagination {
			bottom: 6px;
			width: calc(100% - rem(24));
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			&-bullet {
				--swiper-pagination-bullet-horizontal-gap: #{rem(4)};
	
				width: calc(100% / 4 - var(--swiper-pagination-bullet-horizontal-gap) * 2);
				border-radius: 0;
				height: 100%;
				background-color: transparent;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					display: block;
					left: 0;
					bottom: 0;
					height: 2px;
					width: 100%;
					background-color: $gray-300;
				}
				&-active {
					background-color: transparent;
					&:before {
						background-color: #FFB78B;
					}
				}
			}
		}
	}
	&__control-wrap {
		position: absolute;
		top: rem(12);
		right: rem(12);
		z-index: 5;
	}
	&__link {
		color: $gray-300;
		&:not(:last-child) {
			margin-right: rem(8);
		}
		&:hover {
			color: $primary;
		}
		&.active {
			color: $primary;
			.icon {
				fill: currentColor;
			}
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(24);
		}
	}
	&__img-wrap {
		@include block(310,238);
		img {
			padding: rem(15);
		}
	}
	&__content {
		padding-left: rem(12);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-weight: 500;
		line-height: 1.25em;
		// padding-right: rem(12);
		max-width: rem(230);
		margin-bottom: auto;
		@include media-breakpoint-up(xxl) {
			margin-bottom: -8px;
		}
	}
	&__inner-row {
		--bs-gutter-x: 0;

		align-items: flex-end;
	}
	&__price-wrap {
		display: flex;
		align-items: flex-end;
		padding-bottom: rem(12);
	}
	&__price {
		font-size: rem(15);
		line-height: 1.2em;
		font-weight: 600;
		margin-right: rem(10);
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(20);
		}
	}
	&__old-price {
		font-weight: 500;
		text-decoration-line: line-through;
		color: $gray-300;
		font-size: rem(13);
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
		}
	}
	&__info-wrap {
		display: flex;
		align-items: flex-end;
	}
	&__info {
		font-size: rem(13);
		line-height: 1.14em;
		color: #126935;
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(14);
		}
		.icon {
			font-size: rem(16);
			fill: none;
			stroke: currentColor;
			stroke-width: 1px;
			margin-right: rem(4);
		}
		.on-order {
			color: $primary;
		}
	}
	&__add-to-cart-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(60);
		height: rem(56);
		border: 1px solid $primary;
		border-radius: 5px 0px;
		margin-left: rem(12);
		&:hover {
			color: #fff;
			background-color: $primary;
		}
		&.active {
			background-color: $primary;
			color: #fff;
			.icon {
				&-shopping-cart {
					opacity: 0;
				}
				&-check-circle {
					opacity: 1;
				}
			}
		}
		.icon {
			position: absolute;
			@include a-cent;
			font-size: rem(32);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			// margin-right: rem(4);
			&-check-circle {
				opacity: 0;
			}
		}
	}
}
.page-head {
	padding-top: rem(16);
	padding-bottom: rem(24);
	@include media-breakpoint-up(md) {
		padding-top: rem(24);
		padding-bottom: rem(32);
	}
	.breadcrumb-slider {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}
	}
	h1 {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
