.soc {
	@include roww(12px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		width: rem(36);
		height: rem(36);
		color: #000;
		background-color: #fff;
		border-radius: 50%;
		flex: 0 0 auto;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			background-color: $primary;
		}
	}
	.icon {
		font-size: rem(24);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	color: $gray-500;
	input {
		font-size: rem(16);
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(57);
		padding-top: rem(14);
		padding-bottom: rem(14);
		padding-right: rem(15);
		font-weight: 500;
		border-radius: 5px;
	}
	.icon {
		color: $gray-500;
		font-size: rem(24);
		border: none !important;
		fill: none;
		stroke: currentColor;
		stroke-width: 2px;
	}
	button {
		position: absolute;
		left: rem(15);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}
.breadcrumb-slider {
	overflow: visible;
}
.breadcrumb {
	flex-wrap: nowrap;
	// overflow: visible;
	line-height: calc(16 / 14);
	a,
	span {
		display: inline-block;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);

	color: $gray-500;
	&::before {
		font-weight: 500;
	}

	a {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -10%;
			width: 100%;
			height: 120%;
		}
		&:not(:hover) {
			color: inherit;
		}
	}
	&.active {
		a {
			color: $breadcrumb-active-color;
			pointer-events: none;
		}
	}
}

.catalog-toggle {
	@include mt;
	border: 1px solid $primary;
	border-radius: 5px;
	padding: rem(13) rem(15);
	display: flex;
	align-items: center;
	color: $white;
	font-weight: 500;
	line-height: 1.25em;
	cursor: pointer;
	width: 100%;
	max-width: rem(210);
	@include media-breakpoint-up(lg) {
		max-width: none;
	}
	&__line-wrap {
		--h: #{rem(2)};
		--color: #{$white};
		--position: calc(var(--h) * 4);

		height: calc(var(--h) * 9);
		position: relative;
		font-size: rem(24);
		width: 1em;
		flex: 0 0 auto;
		margin-right: rem(15);
		span {
			@include a-cent(y);
			display: block;
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			width: 1em;
			height: var(--h);
			background-color: var(--color);
			transition: all 0.3s;
			backface-visibility: hidden;
			transform-origin: 50% 50%;
		}

		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
		}
		span:before {
			top: var(--position);
			transform: rotate3d(0, 0, 1, var(--rotate, 0));
			width: calc(100% - 8px);
		}

		span:after {
			bottom: var(--position);
			transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
		}
	}
	&.active,
	&:hover {
		background-color: $primary;

		span {
			&:before {
				width: 100%;
			}
		}
	}
	&.active {
		.catalog-toggle__line-wrap {
			--position: 0;
			--rotate: 45deg;
			span {
				background-color: transparent;
			}
		}
	}
}

.catalog-menu {
	@include mt;
	@include media-breakpoint-up(lg) {
		--itemWidth: #{rem(310)};
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		z-index: 10;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
	}
	@include media-breakpoint-down(lg) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		transform: translateX(-100%);
		padding-top: rem(44.4);
		padding-bottom: rem(30);
		z-index: 1000;
		&.active {
			transform: translateX(0);
		}
	}
	&__container {
		position: relative;
		@include media-breakpoint-down(lg) {
			padding: 0;
			height: calc(var(--vh) * 100);
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
	&__wrap {
		@include media-breakpoint-up(lg) {
			max-width: var(--itemWidth);
		}
		&:first-child {
			&:before {
				@include media-breakpoint-down(lg) {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		&:last-child {
			@include media-breakpoint-up(lg) {
				.catalog-menu__item {
					border-bottom: none;
				}
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				.catalog-menu__item {
					color: $white;
					background-color: $gray-900;
					&::before,
					&:after {
						display: block;
					}
				}
				.catalog-menu__content {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	&__item {
		@include mt;
		padding: rem(26) rem(50) rem(26) rem(24);
		position: relative;
		background-color: $white;
		font-family: $font-family-monospace;
		line-height: 1.25em;
		border-bottom: 1px solid $gray-100;
		cursor: pointer;
		@include media-breakpoint-up(lg) {
			max-width: var(--itemWidth);
			&::before,
			&:after {
				content: "";
				display: none;
				position: absolute;
				width: 50%;
				height: rem(20);
				right: 0;
				background-color: transparent;
				z-index: 2;
			}
			&::before {
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				top: rem(-18);
			}
			&::after {
				clip-path: polygon(100% 0, 0 0, 100% 100%);
				bottom: rem(-18);
			}
		}
		.icon {
			position: absolute;
			top: 50%;
			right: rem(24);
			transform: translateY(-50%);
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		&:hover {
			color: $white;
			background-color: $gray-900;
		}
	}
	&__content {
		@include mt;
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			left: calc(var(--itemWidth) + var(--bs-gutter-x) / 2);
			width: calc(100% - var(--itemWidth) - var(--bs-gutter-x));
			max-width: rem(900);
			background-color: $white;
			opacity: 0;
			pointer-events: none;
			padding: rem(32) rem(52);
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
			z-index: 1;
		}
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			transform: translateX(-100%);
			padding: rem(47) rem(15) rem(15) rem(15);
			height: calc(var(--vh) * 100);
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 100;
			&.active {
				transform: translateX(0);
			}
		}
		ul {
			--bs-gutter-y: #{rem(20)};

			list-style-type: none;
			columns: 2;
			margin-top: calc(var(--bs-gutter-y) * -1);
			margin-bottom: 0;
			li {
				display: inline-block;
				width: 100%;
				margin-top: var(--bs-gutter-y);
				a {
					font-weight: 500;
					@include media-breakpoint-down(lg) {
						font-size: rem(14);
					}
					&:not(:hover) {
						color: $black;
					}
				}
			}
		}
	}
	.catalog-toggle {
		width: auto;
		border: none;
		padding: 0;
		position: absolute;
		left: 15px;
		top: 14px;
		background-color: #fff;
		@include media-breakpoint-up(lg) {
			display: none;
		}
		&__line-wrap {
			--color: #{$gray-900};
			margin-right: 0;
		}
	}
	&__back-btn {
		position: absolute;
		top: 11px;
		left: 15px;
		cursor: pointer;
		.icon {
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}

.card {
	@include mt;
	background-color: #fff;
	border-radius: 5px;
	padding-top: rem(13);
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	&:hover {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
	&__label {
		position: absolute;
		top: rem(12);
		left: rem(12);
		background-image: linear-gradient(0deg, #180a3e, #180a3e);
		padding: rem(5) rem(6);
		color: #fff;
		font-size: rem(14);
		line-height: 1em;
		z-index: 3;
		&--sale {
			background-image: none;
			background-color: #fc573b;
			line-height: 1.2em;
		}
	}
	&__slider {
		width: 100%;
		margin-bottom: rem(2);
		.swiper-pagination {
			bottom: 12px;
			width: calc(100% - rem(24));
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			&-bullet {
				--swiper-pagination-bullet-horizontal-gap: #{rem(4)};

				width: calc(100% / 4 - var(--swiper-pagination-bullet-horizontal-gap) * 2);
				border-radius: 0;
				height: 100%;
				background-color: transparent;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					display: block;
					left: 0;
					bottom: 0;
					height: 2px;
					width: 100%;
					background-color: $gray-300;
				}
				&-active {
					background-color: #ffb78b;
					background-color: transparent;
					&:before {
						background-color: #ffb78b;
					}
				}
			}
		}
	}
	&__control-wrap {
		position: absolute;
		top: rem(12);
		right: rem(12);
		z-index: 5;
	}
	&__link {
		color: $gray-300;
		&:not(:last-child) {
			margin-right: rem(8);
		}
		&:hover {
			color: $primary;
		}
		&.active {
			color: $primary;
			.icon {
				fill: currentColor;
			}
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(24);
			stroke-linecap: round;
		}
	}
	&__img-wrap {
		@include block(310, 238);
		img {
			padding: rem(15);
		}
	}
	&__content {
		padding-left: rem(12);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-weight: 500;
		line-height: 1.25em;
		// padding-right: rem(12);
		max-width: rem(230);
		margin-bottom: auto;
		&:not(:hover) {
			color: #000;
		}
		@include media-breakpoint-up(xxl) {
			margin-bottom: -8px;
		}
	}
	&__inner-row {
		--bs-gutter-x: 0;

		align-items: flex-end;
	}
	&__price-wrap {
		display: flex;
		align-items: flex-end;
		padding-bottom: rem(12);
	}
	&__price {
		font-size: rem(15);
		line-height: 1.2em;
		font-weight: 600;
		margin-right: rem(10);
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(20);
		}
	}
	&__old-price {
		font-weight: 500;
		text-decoration-line: line-through;
		color: $gray-300;
		font-size: rem(13);
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
		}
	}
	&__info-wrap {
		display: flex;
		align-items: flex-end;
	}
	&__info {
		font-size: rem(13);
		line-height: 1.14em;
		color: #126935;
		padding-bottom: rem(12);
		@include media-breakpoint-up(xxl) {
			font-size: rem(14);
		}
		.icon {
			font-size: rem(16);
			fill: none;
			stroke: currentColor;
			stroke-width: 1px;
			margin-right: rem(4);
		}
		.on-order {
			color: $primary;
		}
	}
	&__add-to-cart-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(60);
		height: rem(56);
		border: 1px solid $primary;
		border-radius: 5px 0px;
		margin-left: rem(12);
		&:hover {
			color: #fff;
			background-color: $primary;
		}
		&.active {
			background-color: $primary;
			color: #fff;
			.icon {
				&-shopping-cart {
					opacity: 0;
				}
				&-check-circle {
					opacity: 1;
				}
			}
		}
		.icon {
			position: absolute;
			@include a-cent;
			font-size: rem(32);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			// margin-right: rem(4);
			&-check-circle {
				opacity: 0;
			}
		}
	}
	&__text {
		color: #000;
		max-width: rem(388);
		margin-bottom: rem(8);
		line-height: 1.25em;
		font-size: rem(14);
		@include media-breakpoint-up(xl) {
			font-size: rem(16);
		}
	}
	&--horizontal {
		.card {
			&__title {
				margin-bottom: rem(14);
			}
		}
		@include media-breakpoint-up(md) {
			flex-direction: row;
			.card {
				&__img-wrap {
					--ratio: 128/233;
				}
				&__slider {
					max-width: rem(255);
				}
				&__content {
					// flex-direction: row;
					justify-content: center;
				}
				&__inner-row {
					// margin-top: auto;
					margin-left: 0;
					align-items: flex-start;
				}
				&__price-col {
					order: 2;
				}
				&__old-price-col {
					order: 3;
				}
				&__info-col {
					order: 1;
					margin-left: 0 !important;
					margin-right: auto;
				}
				&__info {
					order: 1;
				}
				&__control-wrap {
					right: rem(77);
				}
				&__add-to-cart-btn {
					position: absolute;
					top: 0;
					right: 0;
				}
				&__title {
					// max-width: rem(200);
					margin-bottom: rem(16);
				}
				&__text {
					// max-width: rem(200);
				}
				&__price,
				&__old-price {
					padding-bottom: 0;
				}
				&__old-price {
					padding-right: rem(27);
				}
			}
		}
		@include media-breakpoint-up(lg) {
			.card {
				&__title {
					max-width: rem(200);
				}
				&__text {
					max-width: rem(200);
				}
			}
		}
		@include media-breakpoint-up(xl) {
			.card {
				&__title {
					max-width: rem(388);
				}
				&__text {
					max-width: rem(388);
				}
			}
		}
	}
}
.page-head {
	padding-top: rem(16);
	padding-bottom: rem(24);
	@include media-breakpoint-up(md) {
		padding-top: rem(24);
		padding-bottom: rem(32);
	}
	.breadcrumb-slider {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1 {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.row {
		--bs-gutter-y: #{rem(20)};

		align-items: center;
	}
	&__btn {
		--bs-btn-padding-x: #{rem(32)};
		--bs-btn-color: #{$gray-800};
    --bs-btn-border-color: #{$gray-300};
		--bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$primary};
    --bs-btn-hover-border-color: #{$primary};
		--bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color: #{$primary};

		text-transform: uppercase;
	}
}

.btn-more-lg {
	display: flex;
	align-items: center;
	justify-content: center;
	--bs-btn-padding-x: #{rem(20)};
	--bs-btn-padding-y: #{rem(12)};
	--bs-btn-color: #000;
	--bs-btn-bg: #{$white};
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 5px;
	--bs-btn-hover-bg: #{$primary};
	--bs-btn-hover-border-color: #{$primary};
	--bs-btn-hover-color: #{$white};
	--bs-btn-active-bg: #{$primary};
	--bs-btn-active-border-color: #{$primary};
	--bs-btn-active-color: #{$white};
	width: 100%;
	// height: 100%;
	@include media-breakpoint-up(md) {
		--bs-btn-padding-x: #{rem(20)};
		--bs-btn-padding-y: #{rem(17)};
	}
	span {
		display: block;
	}
	&:hover {
		.icon {
			stroke: $white;
		}
	}
	.icon {
		@include mt(0.2s);
		fill: none;
		stroke: $primary;
		stroke-width: 2px;
		stroke-linecap: round;
		font-size: rem(24);
		margin-right: rem(12);
	}
}

.pagination-wrapper {
	ul {
		justify-content: center;
		margin-bottom: 0;
		li {
			.page-numbers {
				--bs-pagination-color: #000;
				--bs-pagination-hover-color: #fff;
				--bs-pagination-hover-bg: #{$primary};

				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(32);
				height: rem(32);
				font-weight: 500;
				border-radius: 2px;
				font-size: rem(18);
				font-feature-settings: "pnum" on, "lnum" on;
				&.current {
					background-color: $primary;
					color: #fff;
				}
				&.next,
				&.prev {
					padding: 0;
					.icon {
						font-size: rem(24);
						fill: none;
						stroke: currentColor;
						stroke-width: 2px;
					}
				}
			}
		}
	}
}

.dd-group {
	border-radius: 5px;
	background-color: $gray-900;
	margin-bottom: 0;
	&__item {
		border-bottom: 1px solid $gray-800;
		&.active {
			.dd-group__head {
				&:after {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	&__head {
		padding: rem(24) rem(50) rem(24) rem(24);
		font-family: $font-family-monospace;
		line-height: 1.25em;
		color: #fff;
		position: relative;
		cursor: pointer;
		&:after {
			@include mt;
			content: "";
			position: absolute;
			display: block;
			width: rem(24);
			height: rem(24);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8L12 15L19 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			top: 50%;
			transform: translateY(-50%);
			right: rem(24);
		}
	}
	&__content {
		padding: rem(18) rem(24) rem(24);
		display: none;
		&.active {
			display: block;
		}
	}
	&__custom-inputs-wrap {
		@extend .custom-scroll;
		max-height: rem(245);
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.filter {
	&__btn {
		width: 100%;
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	&__body {
		@include mt;
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			width: 100%;
			height: calc(var(--vh) * 100);
			// height: calc(var(--vh) * 100 + rem(44));
			z-index: 200;
			background-color: $gray-900;
			// padding-top: rem(44);
			will-change: transform;
			overflow-x: hidden;
			overflow-y: auto;
			// padding: calc(env(safe-area-inset-top, 0px) + #{rem(44)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
			&.active {
				transform: translateX(0);
				@include media-breakpoint-down(lg) {
					overflow: hidden;
				}
			}
			.catalog-menu {
				transform: translateX(0);
				background-color: $gray-900;
				padding-top: 0;
				&__content {
					top: rem(-44);
				}
			}
		}
	}
	// &__body-wrap {
	// 	padding: calc(env(safe-area-inset-top, 0px) + #{rem(44)}) 0 calc(env(safe-area-inset-top, 0px) + #{rem(20)});
	// 	display: flex;
	// 	flex-direction: column;
	// 	height: 100%;
	// 	background-color: $gray-900;
	// 	overflow-x: hidden;
	// 	overflow-y: auto;
	// 	-webkit-overflow-scrolling: touch;
	// }
	&__wrap {
		&:before {
			pointer-events: none;
		}
	}
	&__close {
		@include mt;
		position: relative;
		margin-top: 12px;
		margin-bottom: 12px;
		margin-left: 24px;
		width: rem(20);
		height: rem(20);
		z-index: 2;
		cursor: pointer;
		color: #fff;
		&:hover {
			color: $primary;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}
.custom-select {
	&__title {
		font-family: $font-family-monospace;
		font-weight: 400;
		font-size: rem(16);
		line-height: calc(20 / 16);
		margin-bottom: rem(18);
	}
	& > .select2-container {
		width: 100% !important;
	}
	

	.custom-select__dropdown {
		border: 1px solid $gray-300;
		border-radius: 5px;
		// margin-top: 2px;
		// margin-bottom: 2px;
		z-index: 998;
		.select2-search--dropdown {
			.select2-search__field {
				border-color: $gray-300;
				outline: none !important;
				border-radius: 5px;
				&:focus {
					border-color: $primary;
				}
			}
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: inherit;
		line-height: inherit;
	}
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.select2-container--default .select2-selection--single {
		--bs-form-select-bg-img: none;
		// --bs-form-select-bg-img: url(
		// 	data:image/svg + xml;charset=utf-8,
		// 	%3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3E%3Cpathfill="none"stroke="%233B3B3B"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3E%3C/svg%3E
		// );
		appearance: none;
		--bs-form-control-bg: #ffffff;
		--bs-border-width: 1px;
		--bs-border-color: #{$gray-300};
		background-position: right 28px center;
		background-size: 16px 12px;
		border-radius: 5px;
		color: $black;
		font-size: rem(16);
		font-weight: 400;
		line-height: calc(20 / 16);
		font-family: $font-family-monospace;
		padding: rem(9) rem(60) rem(9) rem(10);
		&:focus {
			border-color: $gray-300;
		}
		.select2-selection__arrow {
			@include a-cent(y);
			display: block;
			width: rem(24);
			height: rem(24);
			right: rem(24);
			left: auto;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9L12 16L19 9' stroke='#{$dark}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100%;
			// pointer-events: none;
			b {
				display: none;
			}
		}
		.select2-selection__placeholder {
			color: $gray-300;
		}
	}
	.select2-results {
		padding: rem(10);

		.select2-results__options {
			@extend .custom-scroll;
			margin-right: rem(26);
			max-height: rem(224);
			&::-webkit-scrollbar {
				width: 2px;
			}
			&::-webkit-scrollbar-track {
				background-color: $gray-300;
			}
		}
		.select2-results__option {
			@include mt(0.2s);
			position: relative;
			font-weight: 500;
			font-size: rem(16);
			line-height: calc(20 / 16);
			padding: rem(6);
			color: $dark;
			&--selected {
				color: $primary;
				background-color: transparent;
				padding-left: rem(28);
				&::before {
					content: "";
					@include a-cent(y);
					width: rem(10);
					height: rem(10);
					background-color: $primary;
					border-radius: 3px;
					left: rem(6);
				}
			}
			&--highlighted {
				color: $primary;
				background-color: transparent;
			}
		}
	}
}

.sort-dropdown-wrap {
	position: relative;
	// margin-left: rem(16);
	font-family: $font-family-sans-serif;
	// @include media-breakpoint-down(sm) {
	// 	margin-left: auto;
	// }
	&__sort-item {
		@include mt;
		font-family: $font-family-sans-serif;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			color: $primary;
		}
	}
	&__sort-dropdown {
		@include mt;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
		z-index: 10;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		padding: rem(16) rem(24);
		font-size: rem(14);
		width: 100%;
		min-width: max-content;
		opacity: 0;
		pointer-events: none;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
		@include media-breakpoint-up(sm) {
			left: 0;
			right: unset;
		}
		@include media-breakpoint-up(md) {
			min-width: rem(219);
			font-size: rem(16);
		}
		ul {
			list-style-type: none;
			margin-bottom: 0;
			li {
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
			}
		}
		a {
			font-weight: 500;
			color: #000;
			&:hover {
				color: $primary;
			}
		}
	}
}


.news-items {
	.row {
		--bs-gutter-y: #{rem(20)};
	}
	&__news-item {
		@include block(310, 200);
		max-width: rem(310);
		border-radius: 5px;
		overflow: hidden;
		color: #fff;
		z-index: 1;
		@include media-breakpoint-down(lg) {
			margin-right: auto;
			margin-left: auto;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
			z-index: -1;
		}
		img {
			@include mt;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__news-content {
		padding: rem(16);
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		h5 {
			margin-bottom: 0;
		}
		p {
			font-size: rem(12);
			margin-bottom: 0;
			line-height: 1.17em;
		}
	}
}