mixin sCheckout(data)
	// start sCheckout
	+b.sCheckout.section#sCheckout&attributes(attributes)
		.container
			+e.main-wrap
				+e.row.row
					.col-lg-8
						+e.content-wrap
							//- mixin stagesLink(t)
							//- 	.col-sm-auto
							//- 		+e.stages-link(href="#")&attributes(attributes)!= t
							block
					.col-lg-4
						+e.total-wrap
							mixin totalItem(name, price)
								+e.total-item&attributes(attributes)
									.row
										.col
											span!= name
										.col-auto
											span.price!= price
							+totalItem(`Итого`, `5&nbsp;700&nbsp;₽`).--head
							+totalItem(`11&nbsp;товаров`, `4&nbsp;200&nbsp;₽`)
							+totalItem(`Скидка`, `&mdash; 250&nbsp;₽`)
							+totalItem(`Доставка`, `1&nbsp;500&nbsp;₽`)
							
	// end sCheckout