mixin sCheckout(data)
	// start sCheckout
	+b.sCheckout.section#sCheckout&attributes(attributes)
		.container
			+e.wrapper
				+e.row.row
					.col-lg-8
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium repellat quos ad exercitationem dolorum quaerat explicabo fugiat corrupti omnis. Nisi deserunt accusamus, dolorum eos molestias ipsum rerum! Voluptatibus, asperiores quia!
						block
					.col-lg-4
						+e.total-wrap
							table
								thead
									tr
										td Наименование
										td Описание
										
								tbody
									tr
										td Имя
										td Характеристики
									tr
										td Имя #2
										td Характеристики
									tr
										td Имя #3
										td Характеристики

							
	// end sCheckout